<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Home Page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/listings.css" />
  <link rel="stylesheet" href="/styles/page-header.css" />

  <!-- External Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+3:ital,wght@0,300;0,600;1,300;1,600&display=swap" />

  <!-- CDN libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

      <header class="page-header">
        <div class="about-us">
          <!-- <article> -->
            <!-- <h2>about us</h2> -->
            <p>
              Happy Tails Rescue Hub was created for the purpose of streamlining the process of connecting adoptable
              dogs with their fur-ever families. As avid dog lovers and supporters of the rescue community, our aim is to
              increase exposure for local rescues by providing a convenient central hub for those who are looking to adopt a furry
              friend. 🐾
            </p>
          <!-- </article> -->
        </div>
        <div class="feature">
          <h2 class="feature-title">Adoption Spotlight</h2>
          <article>
            <h2>
              <%= dog.name %>
            </h2>
            <h5>
              <%= dog.breed %>
            </h5>
            <img src=<%=dog.photo_url %> alt="photo of adoptable dog">
            <div class="dog-info">
              <% if (dog.adoptable) { %>
                <h2 style="color: green;">
                  Available
                </h2>
              <%} else { %>
                <h2 style="color: red;">
                  Adopted
                </h2>
              <% } %>
                <h2>
                  $<%= dog.adoption_fee %>
                </h2>
            </div>
            <footer class="interactions">
              <button>
                <a href="/listing/<%= dog.id %>">MORE INFO</a>
              </button>
              <% if (user && user.id) { %>
                <form method="POST" action="/favourites">
                  <input type="hidden" name="dog_id" value="<%= dog.id %>">
                  <button type="submit">
                    <i class="fa-solid fa-heart"></i>
                  </button>
                </form>
              <% } %>
            </footer>
          </article>
        </div>
      </header>
      <main class="container">
        <nav class="filterBar">
          <h2><i class="fa-solid fa-paw"></i> Adoptable Dogs</h2>
          <form class="form-group" action="/" method="POST">
            <label for="filter">Filter by Adoption Fee:  $
              <input type="number" name="number" id="filter" placeholder="maximum fee">
              <button type="submit">Submit</button>
            </label>
          </form>
        </nav>
        <section class="listings">
          <% for (let list of listings) { %>
            <article>
              <h2>
                <%= list.name %>
              </h2>
              <h5>
                <%= list.breed %>
              </h5>
              <img src=<%=list.photo_url %> alt="photo of adoptable dog">
              <div class="dog-info">
                <% if (list.adoptable) { %>
                  <h2 style="color: green;">
                    Adoptable
                  </h2>
                <%} else { %>
                  <h2 style="color: red;">
                    Adopted
                  </h2>
                <% } %>
                  <h2>
                    $<%= list.adoption_fee %>
                  </h2>
              </div>
              <footer class="interactions">
                <button>
                  <a href="/listing/<%= list.id %>">MORE INFO</a>
                </button>
                <% if (user && user.id) { %>
                  <form method="POST" action="/favourites">
                    <input type="hidden" name="dog_id" value="<%= list.id %>">
                    <button type="submit">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </form>
                <% } %>
              </footer>
            </article>
          <% } %>
        </section>
      </main>

</body>
</html>
